# Analise exploratória 

analise exploratória do dataset

In [3]:
import pandas as pd

In [4]:
dados_cancelamento = pd.read_csv("../dados/cancelamentos.csv")

print (dados_cancelamento)

        CustomerID  idade    sexo  tempo_como_cliente  frequencia_uso  \
0              2.0   30.0  Female                39.0            14.0
1              3.0   65.0  Female                49.0             1.0
2              4.0   55.0  Female                14.0             4.0
3              5.0   58.0    Male                38.0            21.0
4              6.0   23.0    Male                32.0            20.0
...            ...    ...     ...                 ...             ...
881661    449995.0   42.0    Male                54.0            15.0
881662    449996.0   25.0  Female                 8.0            13.0
881663    449997.0   26.0    Male                35.0            27.0
881664    449998.0   28.0    Male                55.0            14.0
881665    449999.0   31.0    Male                48.0            20.0

        ligacoes_callcenter  dias_atraso assinatura duracao_contrato  \
0                       5.0         18.0   Standard           Annual
1                      10.0          8.0      Basic          Monthly
2                       6.0         18.0      Basic        Quarterly
3                       7.0          7.0   Standard          Monthly
4                       5.0          8.0      Basic          Monthly
...                     ...          ...        ...              ...
881661                  1.0          3.0    Premium           Annual
881662                  1.0         20.0    Premium           Annual
881663                  1.0          5.0   Standard        Quarterly
881664                  2.0          0.0   Standard        Quarterly
881665                  1.0         14.0    Premium        Quarterly

        total_gasto  meses_ultima_interacao  cancelou
0            932.00                    17.0       1.0
1            557.00                     6.0       1.0
2            185.00                     3.0       1.0
3            396.00                    29.0       1.0
4            617.00                    20.0       1.0
...             ...                     ...       ...
881661       716.38                     8.0       0.0
881662       745.38                     2.0       0.0
881663       977.31                     9.0       0.0
881664       602.55                     2.0       0.0
881665       567.77                    21.0       0.0

[881666 rows x 12 columns]

In [5]:
dados_cancelamento.head()

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

In [6]:
dados_cancelamento.tail()

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [8]:
dados_cancelamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CustomerID              881664 non-null  float64
 1   idade                   881664 non-null  float64
 2   sexo                    881664 non-null  object
 3   tempo_como_cliente      881663 non-null  float64
 4   frequencia_uso          881663 non-null  float64
 5   ligacoes_callcenter     881664 non-null  float64
 6   dias_atraso             881664 non-null  float64
 7   assinatura              881661 non-null  object
 8   duracao_contrato        881663 non-null  object
 9   total_gasto             881664 non-null  float64
 10  meses_ultima_interacao  881664 non-null  float64
 11  cancelou                881664 non-null  float64
dtypes: float64(9), object(3)
memory usage: 80.7+ MB

In [9]:
dados_cancelamento.shape

(881666, 12)

In [10]:
dados_cancelamento .describe()

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
count,881664.000000,881664.000000,881663.000000,881663.000000,881664.000000,881664.000000,881664.000000,881664.000000,881664.000000
mean,225398.667955,39.373153,31.256312,15.807496,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.845091,12.442362,17.255713,8.586241,3.070216,8.258058,240.802865,8.596203,0.495476
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [11]:

dados_cancelamento.describe(include="object")

          sexo assinatura duracao_contrato
count   881664     881661           881663
unique       2          3                3
top       Male   Standard           Annual
freq    500504     298255           354396

In [12]:
dados_cancelamento.nunique()

CustomerID                440832
idade                         48
sexo                           2
tempo_como_cliente            60
frequencia_uso                30
ligacoes_callcenter           11
dias_atraso                   31
assinatura                     3
duracao_contrato               3
total_gasto                68363
meses_ultima_interacao        30
cancelou                       2
dtype: int64

In [13]:
dados_cancelamento.isnull().sum()

CustomerID                2
idade                     2
sexo                      2
tempo_como_cliente        3
frequencia_uso            3
ligacoes_callcenter       2
dias_atraso               2
assinatura                5
duracao_contrato          3
total_gasto               2
meses_ultima_interacao    2
cancelou                  2
dtype: int64

In [14]:
dados_cancelamento.columns

Index(['CustomerID', 'idade', 'sexo', 'tempo_como_cliente', 'frequencia_uso',
       'ligacoes_callcenter', 'dias_atraso', 'assinatura', 'duracao_contrato',
       'total_gasto', 'meses_ultima_interacao', 'cancelou'],
      dtype='object')

In [15]:
dados_cancelamento.rename(columns={'CustomerID':'ClienteID', 'sexo':'genero'})

,ClienteID,idade,genero,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

# Análise Demográfica
Idade: A média de 39 anos foi calculada a partir da coluna idade
Gênero: A proporção de clientes masculinos e femininos foi analisada usando a coluna sexo 
# Comportamento do Cliente
Tempo como Cliente: A média de 38 meses foi derivada da coluna tempo_como_cliente .
Frequência de Uso: A média de 14 vezes por mês foi obtida a partir da coluna frequencia_uso .
Chamadas ao Call Center: A média de 5 chamadas foi calculada a partir da coluna ligacoes_callcenter 
Dias em Atraso: A média de 10 dias foi extraída da coluna dias_atraso 
# Análise de Assinaturas
A distribuição de tipos de assinatura foi analisada na coluna assinatura, com destaque para a preferência por contratos anuais, indicando lealdade 
# Total Gasto
O total gasto médio de R$ 500 foi calculado a partir da coluna total_gasto, com uma variação significativa observada

# Conclusão
A análise revela que o comportamento dos clientes é diversificado, com diferenças significativas entre gêneros, idades e padrões de uso. Os dados sugerem que a empresa possui uma base de clientes leais, mas também enfrenta desafios, como a necessidade de suporte frequente.